body {
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  background: url('fundofuturista.avif') no-repeat center center fixed;
  background-size: cover;
  color: white
}

header {
  padding: 40px 20px;
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.card {
  border-radius: 10px;
}

h2 {
  color: rgb(229, 233, 7);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  background: rgb(10, 219, 104);
  color: rgb(238, 241, 7);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

footer {
  padding: 180px;
  margin-top: 30px;
}
